/* About */
.x-about-img {
  @apply relative rounded-xl overflow-hidden h-[27rem] max-w-full min-w-fit;
}
.x-about-img:after {
  content: '';
  @apply absolute inset-0 w-full h-full bg-gradient-to-t from-secondary to-transparent z-10 opacity-30;
}
.x-about-img img {
  @apply min-h-full min-w-full object-cover z-0;
}

.us-img {
  @apply w-full h-full object-cover;
  max-height: 45rem;
  min-height: 20rem;
}

.x-contact {
  @apply flex h-32 rounded-xl bg-white hover:scale-90 border-2 duration-300 justify-center items-center;
}

.slider-blogs .swiper-slide,
.banner-swiper .swiper-slide,
.slider-projects .swiper-slide
{
  opacity: 0;
  transition: all .4s ease-in-out;
}
.swiper-slide.swiper-slide-prev,
.swiper-slide.swiper-slide-next,
.swiper-slide.swiper-slide-active {
  opacity: 1;
}
.card, .card-img-top {
  border-radius: 1.5rem !important;
}

.container {
  @apply mx-auto px-4;
}

.x-shadow {
  box-shadow: 0px 0px 5px 5px rgba(204, 204, 204, 0.10)
}